html,
body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

#example {
    height: 100%;
}

.container{
    float: left;
}

.main{
    overflow: hidden;
}
